/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #000000;
}
.header .header__search:hover {
  opacity: 0.5;
}
.header .header__nav {
  display: none;
  position: absolute;
  background-color: #ffffff;
  right: -240px;
  bottom: -771px;
}
.header .header__nav--show {
  display: block;
}
.header .header__nav-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  padding: 37px 163px 24px 34px;
}
.header .header__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  position: relative;
}
.header .header__logo {
  margin: 0 41px 0 0;
}
.header .header__link {
  margin: 0 0 0 31px;
}
.header .header__link:hover {
  opacity: 0.5;
}
.header .header__menu-btn {
  border: none;
  background-color: transparent;
}
.header .header__menu-btn:hover {
  opacity: 0.5;
}

.menu-item__sub-item {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 12px 0 12px 55px;
}

.menu-item__sub-list {
  margin-bottom: 9px;
}

.menu-item__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-left: 33px;
}

@media (max-width: 767px) {
  .header {
    min-width: 360px;
  }
  .header .header__link {
    display: none;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1599px) {
  .container {
    width: 736px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 343px;
  }
}
.brand {
  display: flex;
  max-width: 2100px;
  margin: auto;
  margin-bottom: 19px;
}
@media (max-width: 1599px) {
  .brand__img {
    width: 385px;
    height: 369px;
  }
}
@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
}
.brand .brand__wrp {
  background-color: #F1E4E6;
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 1599px) {
  .brand .brand__wrp {
    padding: 0 0 0 19px;
  }
}
@media (max-width: 767px) {
  .brand .brand__wrp {
    min-width: 360px;
    min-height: 363px;
    padding: 0;
    place-content: center;
  }
}
.brand .brand__wrp::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #F1E4E6;
  z-index: -1;
}
@media (max-width: 767px) {
  .brand .brand__wrp::after {
    display: none;
  }
}
.brand .brand__wrp::before {
  content: url(../img/brandpseudo.png);
  margin: 0 16px 0 0;
}
.brand .brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}
@media (max-width: 1599px) {
  .brand .brand__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .brand .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}
.brand .brand__subtitle {
  display: flex;
  font-size: 34px;
  width: max-content;
}
@media (max-width: 1599px) {
  .brand .brand__subtitle {
    font-size: 29px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .brand .brand__subtitle {
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
  }
}
.brand .brand__subtitle-pink {
  margin: 0 0 0 8px;
  color: #F16D7F;
}

@media (max-width: 767px) {
  .footer {
    min-width: 360px;
  }
}
.footer .footer__subscribe {
  background-image: url(../img/footerphoto.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .footer__subscribe-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1599px) {
  .footer .footer__subscribe-wrap {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}
.footer .footer__subscribe-quote {
  width: 360px;
  text-align: center;
}
.footer .footer__subscribe-quote .footer__subscribe-quote-img {
  margin: 97px 0 30px 0;
}
@media (max-width: 767px) {
  .footer .footer__subscribe-quote .footer__subscribe-quote-img {
    margin: 64px 0 29px 0;
  }
}
.footer .footer__subscribe-quote .footer__subscribe-quote-text {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}
.footer .footer__subscribe-form {
  margin: 150px 0 156px 0;
}
.footer .footer__subscribe-form .footer__subscribe-form-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
.footer .footer__subscribe-form .footer__subscribe-form-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0 0 32px 0;
  text-transform: uppercase;
}
.footer .footer__subscribe-form .footer__subscribe-form-email {
  background-color: #E1E1E1;
  border: none;
  padding: 15px 64px 15px 22px;
  border-radius: 25px 0 0 25px;
}
.footer .footer__subscribe-form .footer__subscribe-form-btn {
  background-color: #F16D7F;
  border: none;
  color: #ffffff;
  padding: 15px 12px 15px 12px;
  border-radius: 0 25px 25px 0;
  position: absolute;
}
.footer .footer__subscribe-form .footer__subscribe-form-btn:hover {
  opacity: 0.8;
}
.footer .footer__subscribe-form .footer__subscribe-form-btn:active {
  background-color: red;
}
@media (max-width: 767px) {
  .footer .footer__subscribe-form {
    margin: 59px 0 110px 0;
  }
}
.footer .footer__wrap {
  color: #ffffff;
  background-color: #000000;
}
.footer .footer__wrap .footer__wrap-controls {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer .footer__wrap .footer__wrap-controls {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
.footer .footer__text {
  margin: 30px 0 30px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.footer .footer__social-list {
  display: inline-flex;
  margin: 24px 0px 0px 0px;
}
.footer .footer__social-list .footer__social-list-item {
  margin: 0 7px 0 0;
}

.qualities {
  background: #222224;
}
@media (max-width: 767px) {
  .qualities {
    min-width: 360px;
  }
}

.qualities__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1599px) {
  .qualities__list {
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 48px 0 40px 0;
  }
}

.qualities__item {
  color: #FBFBFB;
  text-align: center;
  width: 360px;
}

.qualities__item-heading {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 16px 0;
}

.qualities__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #FBFBFB;
  margin: 0 0 104px 0;
}
@media (max-width: 1599px) {
  .qualities__item-text {
    margin: 0 0 47px 0;
  }
}

.qualities__item-img {
  margin: 104px 0 28px 0;
}
@media (max-width: 1599px) {
  .qualities__item-img {
    margin: 0 0 28px 0;
  }
}

.featured {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .featured {
    min-width: 360px;
    margin: auto;
  }
}

.featured__title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.featured__text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 18px;
}

.featured__item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 360px) {
  .featured__item-list {
    margin-left: 0;
  }
}

.featured__item {
  margin-top: 30px;
  width: 360px;
  background-color: #F8F8F8;
  padding-bottom: 20px;
}

.featured__item-wrp {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured__item-wrp:hover .featured__item-overlay,
.featured__item-wrp:hover .featured__item-btn,
.featured__item-wrp:hover .featured__item-btn::before {
  display: inline-block;
}

.featured__item-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  top: 0;
  display: none;
}

.featured__item-btn {
  position: absolute;
  border: 1px solid #FFFFFF;
  background: transparent;
  color: #ffffff;
  padding: 14px 15px 14px 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: none;
}

.featured__item-btn:hover {
  background-color: #000000;
}

.featured__item-btn::before {
  content: url(../img/featured_cart.png);
  margin-right: 20px;
  vertical-align: sub;
  display: none;
}

.featured__item-title {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin: 24px 0 0 18px;
  text-transform: uppercase;
}

.featured__item-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  margin: 12px 28px 18px 18px;
}

.featured__item-price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  margin: 0 0 0 18px;
}

.featured__btn {
  align-self: center;
  border: 1px solid #FF6A6A;
  background-color: transparent;
  margin: 49px 0 96px 0;
  padding: 14px 40px 14px 40px;
  color: #F16D7F;
}
@media (max-width: 767px) {
  .featured__btn {
    margin: 41px 0 98px 0;
  }
}

.featured__btn:hover {
  background-color: #F16D7F;
  color: #ffffff;
}

.featured__btn-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: inherit;
}

.featured__btn-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .sales__text {
    padding-top: 101px;
  }
}
@media (max-width: 767px) {
  .sales__text-special {
    padding-top: 30px;
  }
}
.sales .sales__list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding-left: 15px;
}
@media (max-width: 767px) {
  .sales .sales__list {
    justify-content: center;
    flex-flow: column;
  }
}
.sales .sales__item {
  padding: 105px 105px;
  margin: 64px 0 30px 0;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
}
@media (max-width: 1599px) {
  .sales .sales__item {
    padding: 59px 39px;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .sales .sales__item {
    padding: 0;
    min-height: 247px;
    margin: 0 0 32px 0;
  }
}
.sales .sales__item-first {
  background-image: url(../img/woman.png);
}
.sales .sales__item-second {
  background-image: url(../img/item-man.png);
}
.sales .sales__item-third {
  background-image: url(../img/item-kid.png);
}
.sales .sales__item-fourth {
  background-image: url(../img/item-accesories.png);
  flex-grow: 1;
  margin-top: 0px;
  margin-bottom: 96px;
}
@media (max-width: 767px) {
  .sales .sales__item-fourth {
    background-size: auto;
    min-height: 111px;
    margin-bottom: 64px;
  }
}
.sales .sales__item-title {
  color: #F16D7F;
  font-weight: 700;
  font-size: 24px;
}

.registration .registration__title {
  text-transform: uppercase;
  padding: 60px 0 60px 0;
  color: #F16D7F;
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1599px) {
  .registration .registration__title {
    margin-bottom: 40px;
  }
}
.registration .registration__wrp {
  background: #F8F3F4;
  min-width: 360px;
}
.registration .registration__form-heading {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
  margin-top: 34px;
}
.registration .registration__form-input {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  margin-bottom: 20px;
}
.registration .registration__form-input::placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  padding-left: 16p;
}
.registration .registration__form {
  display: flex;
  flex-flow: column;
}
.registration .registration__form-checkbox-label {
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
}
.registration .registration__form-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  margin-top: 11px;
}
.registration .registration__form-notice {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 360px;
  margin: -5px 0 40px 0;
}
.registration .registration__form-btn {
  background: #F16D7F;
  color: #ffffff;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 16px 35px 16px 30px;
  text-transform: uppercase;
  vertical-align: sub;
  margin-bottom: 95px;
}
@media (max-width: 767px) {
  .registration .registration__form-btn {
    margin-bottom: 40px;
    align-self: center;
  }
}
.registration .registration__form-btn::after {
  content: url(../img/arrow.png);
  margin-left: 20px;
}
.registration .registration__form-wrp {
  display: flex;
  align-items: center;
}
@media (max-width: 1599px) {
  .registration .registration__form-wrp {
    align-items: normal;
  }
}
@media (max-width: 767px) {
  .registration .registration__form-wrp {
    flex-direction: column;
  }
}
.registration .registration__perks {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin-left: 128px;
}
@media (max-width: 1599px) {
  .registration .registration__perks {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    margin-left: 22px;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .registration .registration__perks {
    margin: 0 0 101px 0;
  }
}
.registration .registration__perks .registration__perks-heading {
  text-transform: uppercase;
  margin-bottom: 22px;
}
.registration .registration__perks .registration__perks-text {
  margin-bottom: 21px;
}
.registration .registration__perks .registration__perks-item {
  margin-bottom: 16px;
  padding-left: 43px;
  position: relative;
}
.registration .registration__perks .registration__perks-item::before {
  position: absolute;
  left: 0;
  content: url(../../img/registration_arrow.png);
}

.cart .cart__title {
  text-transform: uppercase;
  padding: 60px 0 60px 0;
  color: #F16D7F;
  margin-bottom: 96px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1599px) {
  .cart .cart__title {
    margin-bottom: 40px;
  }
}
.cart .cart__wrp {
  background: #F8F3F4;
  min-width: 360px;
}

/*# sourceMappingURL=style.css.map */
