.header {
    background-color: $black;

    .header__search:hover {
        opacity: 0.5;
    }

    .header__nav {
        display: none;
        position: absolute;
        background-color: $white;
        right: -240px;
        bottom: -771px;

        &--show {
            display: block;
        }

        &-title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            padding: 37px 163px 24px 34px;
        }
    }

    .header__wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 75px;
        position: relative;
    }

    .header__logo {
        margin: 0 41px 0 0;
    }

    .header__link {
        margin: 0 0 0 31px;
    }

    .header__link:hover {
        opacity: 0.5;
    }

    .header__menu-btn {
        border: none;
        background-color: transparent;
    }

    .header__menu-btn:hover {
        opacity: 0.5;
    }
}

.menu-item__sub-item {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding: 12px 0 12px 55px;
}

.menu-item__sub-list {
    margin-bottom: 9px;
}

.menu-item__title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: $darkpink;
    margin-left: 33px;

}

@media (max-width: $mobile-width) {
    .header {
        @include min-width;

        .header__link {
            display: none;
        }
    }
}