.qualities {
    background: #222224;
}

.qualities__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qualities__item {
    color: #FBFBFB;
    text-align: center;
    width: 360px;
}

.qualities__item-heading {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 16px 0;
}

.qualities__item-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #FBFBFB;
    margin: 0 0 104px 0;
}

.qualities__item-img {
    margin: 104px 0 28px 0;
}